dist
node_modules
.github
.test-reports
.coverage
seeds
test
!test/integration
.eslint*
.nvmrc
.nyc_output
docker-compose.yml
Dockerfile
*.env
*.md
.nostr
postgresql.conf
test/integration/docker-compose.yml