# Logs
logs
*.log
npm-debug.log*

# Linter
.lint-reports/

# Coverage
.nyc_output
.test-reports
.coverage

# Dependency directories
node_modules/
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Optional package manager cache directories
.npm
.pnpm-store
pnpm-debug.log*

# Caches
.eslintcache
.dccache
.DS_Store

# Local Setup
redis.conf
users.acl
postgresql.local.conf

# generate output
dist

# IDE - VSCode
.vscode/*

# Env files
*.env

# Nostr data folder
.nostr

# Docker Compose overrides
docker-compose.overrides.yml
# Export output
*.jsonl
