name: CI Checks

on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install package dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint
  build-check:
    name: Build check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install package dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run build:check
  test-units-and-cover:
    name: Unit Tests And Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
          cache: npm
      - name: Install package dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test:unit
        continue-on-error: true
      - name: Run coverage for unit tests
        run: npm run cover:unit
        continue-on-error: true
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: ./.coverage/unit/lcov.info
          flag-name: Unit
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
  test-integrations-and-cover:
    name: Integration Tests and Coverage
    runs-on: ubuntu-latest
    environment: test
    needs:
      - lint
      - build-check
      - test-units-and-cover
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Run integration tests
        run: npm run docker:test:integration
        continue-on-error: true
      - uses: deblockt/cucumber-report-annotations-action@v1.7
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          path: .test-reports/integration/report.json
      - name: Run coverage for integration tests
        run: npm run docker:cover:integration
        continue-on-error: true
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          path-to-lcov: .coverage/integration/lcov.info
          flag-name: Integration
          parallel: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
  post-tests:
    name: Post Tests
    needs: [test-units-and-cover, test-integrations-and-cover]
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [finish]
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release